bin/
obj/
obj/x64/Debug/ksp-advanced-flybywire.csproj.FileListAbsolute.txt
obj/x64/Debug/ksp-advanced-flybywire.csproj.FileListAbsolute.txt
*.suo
Assembly-CSharp.dll
Assembly-CSharp.xml
UnityEngine.dll
UnityEngine.xml
ksp/
ksp2/