<?xml version="1.0" encoding="utf-8"?>
<config>
    <bool name="useBlizzyToolbar">0</bool>
    <bool name="useStockSkin">1</bool>
    <bool name="useOldPresetEditor">0</bool>
    <bool name="usePrecisionModeFactor">0</bool>
    <string name="precisionModeFactor">0.5</string>
    <bool name="ignoreFlightCtrlState">1</bool>
    <bool name="useOnPreAutopilot">1</bool>
</config>